

body {
    background-color: antiquewhite;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 5rem;
    color: darkcyan;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 2rem;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
    background-color: aliceblue;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid darkcyan;
}

.btn:hover {
    box-shadow: 0 0.5rem 1.5rem 0 lightcyan;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow:none;
    transform: none;
}

.scores {
    font-size: 4rem;
}


.hide {
    display: none
}

#begin {
    text-align: center;
}

p {
    margin-bottom: 2rem
}

.choice-contatiner {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 6px;
    background: whitesmoke;
    font-size: 3rem;
    min-width: 80rem;
    margin-top: auto;
}

.choice-contatiner:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 lightcyan;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: red
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    height: 3rem;
    width: 20rem;
    border: 0.2rem solid darkcyan;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: black;
    width: 0%;
}

.end-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    font-size: 1.8rem;
    padding: 1.5rem;
    border: none;
}

input::placeholder {
    color: azure;
}

#username {
    width: 100%;
    margin-bottom: 3rem;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: black;
    text-align: center;
}

#saveScoreBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 lightcyan;
    transform: scale(1.02);
    transform: transform 100ms;
}


